.payment {
    margin: 40px 15%;
    display: flex;

}
.rgt,
.lft {
    display:flex;
    flex-direction: column;
    align-content: flex-start;
}
.address-form_city,
.address-form {
    /*display: flex;
    align-content: center;*/
    flex-direction: row;
}
.add-frm {
    display: flex;
    flex-direction: column;
}
.city-form,
.exp-cvc {
    display: flex;
    flex-direction: column;
}
.expary-form {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}
.exp-cvc_exp,
.exp-cvc_cvc {
    display: flex;
    flex-direction: column;
    
}
.exp-cvc_exp {
    width: 40%;
}
.exp-cvc_cvc {
    width: 25%;
}