
.product-page_image {
    width: 50%;
}
.product-page_details {
    display: flex;
    justify-content: space-around;
}
.product-page_details p {
    font-size: 1.5em;
    
}
h3 {
    font-size: 2em;
}
.product-page_left {
    width: 40%;
    text-align: center;
}
.product-page_right {
    width: 40%;
    font-size: 1.5em;
}
.price_digital,
.price_new,
.price_used {
    display: flex;
    justify-content: space-between;
    align-items: center;
}