header {
    display: flex;
    background-color: #FF4809;
    align-items: flex-end;
    
}

.logo {
    width: 384px;
}


nav li {
    display: inline-block;
    align-items: center;

}

.current {
    text-decoration: underline;
}

.bann{
    display: flex;
    justify-content: space-between;

}
.bann figure{
    margin: 0px;
}


body {
background-color: #161616;
}